@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

:root {
    --boxShadow: #0000001c;
    --textColor: #37474F;
    --secondaryTextColor: #5C0B00;
    --divider: #CFD8DC;
    --inputBorder: #90A4AE;
    --inputBorderActive: #4C0000;
}

body {
    font-family: 'Signika', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 6px var(--boxShadow);
    width: 100%;
}

header img {
    margin-left: 40px;
    padding: 18px;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.navigation ul{
    display: flex;
}

.navigation li {
    margin: 5px;
}

.navigation a {
    text-decoration: none;
    color: var(--textColor);
    text-align: center;
    font-size: 20px;
}

.exit-icon {
    font-size: 35px;
    margin: 20px;
}

.main-title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 32px;
}

.main-title h1 {
    font-size: 34px;
    font-weight: 400;
    color: var(--textColor);
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-left: 24px;
}
.input-subgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50px;
}

.input-box,
.input-sub-box {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: 1px solid var(--inputBorder);
    border-radius: 5px;
    font-size: 0.8rem;
}

.input-sub-box input {
    margin: 0.6rem 0;
    padding: 0.5rem 0.4rem;
    border: 1px solid var(--inputBorder);
    border-radius: 5px;
    font-size: 0.8rem;
}

.input-box input:hover,
.input-sub-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible,
.input-sub-box input:focus-visible {
    outline: 1px solid var(--inputBorderActive);
}

.input-box label,
.input-sub-box label,
.select-data label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder, 
.input-sub-box input::placeholder {
    color: #000000be;
    font-family: 'Signika', sans-serif;
}

.fixed-data { /* Alinhar direito! */
    display: flex;
    justify-content: center;
    align-items: center;
}

#divider {
    margin: 0px 16px 0px 40px;
    border: 1px solid var(--divider);
}

.select-data label {
    font-weight: 700;
    font-size: 14px;
    color: var(--secondaryTextColor);
}


.subtitle {
    padding: 16px 0px 0px 40px;
}

.subtitle h1 {
    font-size: 24px;
    font-weight: 400;
    color: var(--textColor);
}

.btn {
    width: 40px; /* Alinhar direito! */
    height: 36px;
    align-self: center;
    background-color: var(--secondaryTextColor);
}

.btn-icon {
    display: flex;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.subcontainer {
    display: flex;
    margin-left: 24px;
}

.save-btn {
    width: 340px;
    height: 40px;
    margin-left: 40px;
    margin-top: 12px;
    border-radius: 4px;
    border: 1px solide var(--secondaryTextColor);
    background-color: var(--secondaryTextColor);
    cursor: pointer;
}

.save-btn a,
.close-btn a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-family: 'Signika', sans-serif;
}

.clear-btn a {
    text-decoration: none;
    text-align: center;
    color: var(--secondaryTextColor);
    font-family: 'Signika', sans-serif;
}
.save-btn img,
.close-btn img,
.clear-btn img {
    height: 19px;
    align-self: center;
    margin-left: 8px;
}

.btn-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 40px 24px 499px;
}

.clear-btn,
.close-btn {
    width: 443px;
    height: 40px;
    margin-right: 16px;
}

.clear-btn {
    background-color: #ffffff;
    border: 1px solid var(--secondaryTextColor);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
}

.close-btn {
    background-color: var(--secondaryTextColor);
    border-radius: 4px;
    border: 1px solide var(--secondaryTextColor);
    font-weight: 700;
    font-size: 16px;
}

